@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@import url('./animate.min.css');
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding:0;
  margin:0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
#navbar{
  display: none;
}

@media screen and (max-width: 600px) {
  #navbar{
    display: block;
  }
} */

/* .header-1{
  margin-top: 20em;
  margin-right: -1em;
} */

.actives{
  color: #1C85E8;
}
.actives:hover{
  color: #fbfdff;
}

input{
  border: none;
}
#footer{
  width: 100%;
  background-image: url("./assets/Rectangle.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*contact page*/
.contact_header, .service_header, .project_header{
  width: 100%;
  /*padding: 10px;*/
  background-image: url("./assets/Rectangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact_bg, .service_bg, .product_bg{
  background-color: rgba(0, 0, 0, 0.63);
}